/* The CSS for the "Study" page */

body {
    margin:0;
    background-color: #1b5e20;
    font-family: Arial, sans-serif;
    text-align: center;
}

#container {
    max-width: 900px;
    margin: 40px auto;
}

#chart-image {
    width: 100%;
    height: auto;
}

/* The CSS for the navigation bar */
nav {
    background-color: #111;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}


/* Styles for the "Train" page */

